#leetInput {
  width: 200px;
}

.monthBar {
  display: flex;
}

.monthBar div {
  margin-left: 16px;
  margin-right: 16px;
}

.tableRow {
  margin: 4px;
}

.dateNum {
  text-align: right;
  margin-top: 0;
}

.date {
  position: absolute;
  border: 1px solid black;
  width: 150px;
}

.unavailable {
  background-color: darkgrey;
}

.checked {
  background-color: aqua;
}

.notes {
  margin: 2px;
  border: 1px solid darkorange;
  border-radius: 5px;
}
